@font-face {
  font-family: 'Exo 2.0';
  src: url('../fonts/Exo2-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Book.woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Demi.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Heavy.woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Light.woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPT-Medium.woff2');
  font-weight: 500;
}