*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 20px;
  -webkit-tap-highlight-color: transparent;
  &:focus,&:active{
    outline: none;
  }
}
body{
  font-family: 'Futura PT', 'Exo 2.0';
}
button{
  font-family: inherit;
  cursor: pointer;
}
input{
  font-family: inherit;
}
a{
  text-decoration: none;
}
.btn{
  background: #714846;
  box-shadow: 0px 4px 0px #470800;
  border-radius: 45px;
  text-decoration: none;
  font-weight: 450;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Exo 2.0;
  color: #FFFFFF;
  transition: 200ms ease;
  &:active{
    background: #5E0400;
    box-shadow: 0px 2px 0px #470800;
    transform: translateY(2px);
  }
  @media(hover: hover){
    &:hover{
      background: #72231F;
    }
  }
}