mixin about()
  .about#about
    .about__body.container 
      .about__top 
        .about__top-content 
          h2.about__title Про компанію
          p.about__p ТОВ «ІНКУБА» засноване у 2009 році в селі Петрушки, Корсунь-Шевченківського району, Черкаської області Підприємство займається комплектуванням птахофабрик добовим молодняком яєчного напрямку продуктивності кросу «Ломан Браун класік», "Ломан Браун Екстра", "Ломан ЛСЛ-Класік" та "Ломан Сенді" та бройлерами кросу ROSS-308 і COBB-500 Інкубаційне яйце несучки завозиться із власних племінних ферм, які знаходяться в Словакії м. Нітра, компанія «LIAHARENSKY PODNIK NITRA».
        .about__slider.show-on-mobile
          .about__slider-item
            img(src="images/about-slider-1.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-2.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-3.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-4.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-5.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-6.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-7.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-8.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-9.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-10.png", alt="").about__slider-img
          .about__slider-item
            img(src="images/about-slider-11.png", alt="").about__slider-img
        .about__top-image 
          img(src="images/about-img.png", alt="about").about__top-img
          a(href="#!").about__top-btn <img src="images/play.png" alt="play"> 
      .about__gallery.disable-on-mobile
        img(src="images/gallery-img.png", alt="")
      .about__bottom#about-bottom
        h2.about__bottom-title Послуги компанії
        .about__bottom-row
          .about__bottom-item
            p.about__bottom-num 1
            p.about__bottom-p Продаж добових курчат
          .about__bottom-item
            p.about__bottom-num 2
            p.about__bottom-p Послуги інкубації
