mixin advantages()
  .advantages   
    .advantages__body.container 
      h2.advantages__title Переваги
      .advantages__content
        .advantages__item
          p.advantages__item-num 1
          p.advantages__item-p Виробнича потужність інкубатора – 32 млн. шт.<br> інкубаційного яйця в рік
        .advantages__item
          p.advantages__item-num 2
          p.advantages__item-p На підприємстві встановлене обладнання <br>англійської компанії «BUCKEYE SM-24»
        .advantages__item
          p.advantages__item-num 3
          p.advantages__item-p Все інкубаційне обладнання працює в автоматизованому режимі, всі дані зберігаються в електронному вигляді
        .advantages__item
          p.advantages__item-num 4
          p.advantages__item-p Курчат вакцинують на найсучаснішому обладнанні включаючи аерозольно в in-line спрей та ін’єкційно (підшкірно, внутрішньом’язово) за допомогою біо-інжекторів
        .advantages__item
          p.advantages__item-num 5
          p.advantages__item-p Транспортування добового молодняка здійснюється вже через декілька годин спеціалізованими автомобілями, місткістю від 70 тис голів до 100 тис голів
        .advantages__item
          p.advantages__item-num 6
          p.advantages__item-p Зали для прийому та зберігання інкубаційного яйця обладнанні системою клімат-контроль
        .advantages__item
          p.advantages__item-num 7
          p.advantages__item-p Вигідне місце розташування інкубатора – центральна частина України – сприяє транспортуванню курчат в різні регіони країни в максимально короткі строки