mixin contacts()
  .contacts#contacts  
    .contacts__el.contacts__el_1.contacts__el_small
    .contacts__el.contacts__el_2.contacts__el_big
    .contacts__el.contacts__el_3.contacts__el_big
    .contacts__el.contacts__el_4.contacts__el_small
    .contacts__body.container 
      h2.contacts__title Контакти
      .contacts__row
        .contacts__item
          p.contacts__item-title Для роздрібних продажів
          a(href="tel:+380969044058").contacts__item-link +38 096 904 40 58 
        .contacts__item
          p.contacts__item-title Для оптових продажів
          a(href="tel:+380672184187").contacts__item-link +38 067 218 41 87 
        .contacts__item
          p.contacts__item-title Електронна пошта
          a(href="mailto:incuba@ukr.net").contacts__item-link incuba@ukr.net
      .contacts__item.contacts__item_max
        p.contacts__item-title Адреса
        a(href="#!").contacts__item-link Україна, Черкаська область, Корсунь-Шевченківський район, с. Петрушки, вул. Набережна, 36  
    iframe(class="contacts__img" src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2599.8220322927764!2d31.145456315866195!3d49.33658807487044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d3dccc802f327b%3A0xe2dc07743597870!2z0LLRg9C70LjRhtGPINCd0LDQsdC10YDQtdC20L3QsCwg0KHQtdC70LjRidC1LCDQp9C10YDQutCw0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0LjQvdCwLCAxOTQ0Mw!5e0!3m2!1sru!2s!4v1632047422629!5m2!1sru!2s' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')