mixin contacts()
  .contacts#contacts  
    .contacts__el.contacts__el_1.contacts__el_small
    .contacts__el.contacts__el_2.contacts__el_big
    .contacts__el.contacts__el_3.contacts__el_big
    .contacts__el.contacts__el_4.contacts__el_small
    .contacts__body.container 
      h2.contacts__title Контакти
      .contacts__row
        .contacts__item
          p.contacts__item-title Для роздрібних продажів
          a(href="tel:+380969044058").contacts__item-link +38 096 904 40 58 
        .contacts__item
          p.contacts__item-title Для оптових продажів
          a(href="tel:+380672184187").contacts__item-link +38 067 218 41 87 
        .contacts__item
          p.contacts__item-title Електронна пошта
          a(href="mailto:incuba@ukr.net").contacts__item-link incuba@ukr.net
      .contacts__item.contacts__item_max
        p.contacts__item-title Адреса
        a(href="#!").contacts__item-link Україна, Черкаська область, Корсунь-Шевченківський район, с. Петрушки, вул. Набережна, 36  
    img(src="images/map.png", alt="").contacts__img