mixin footer()
  footer.footer 
    .footer__nav.container
      ul.footer__list
        li.footer__li 
          a(href="index.html#top").footer__link.footer__logo ТОВ «ІНКУБА» 
        li.footer__li 
          a(href="index.html#top").footer__link.active Головна
        li.footer__li 
          a(href="index.html#top").footer__link Переваги
        li.footer__li 
          a(href="index.html#top").footer__link Продукція
        li.footer__li 
          a(href="index.html#top").footer__link Про компанію
        li.footer__li 
          a(href="index.html#top").footer__link Послуги компанії
        li.footer__li 
          a(href="index.html#top").footer__link Контакти
      .footer__row 
        .footer__col 
          p.footer__p Залишилися або з'явилися питання?
          a(href="#!").footer__btn.btn Відправити 
        .footer__col 
          p.footer__item-title Для роздрібних продажів
          a(href="tel:+380969044058").footer__item-link +38 096 904 40 58 
        .footer__col 
          p.footer__item-title Для оптових продажів
          a(href="tel:+380672184187").footer__item-link +38 067 218 41 87 
        .footer__col 
          p.footer__item-title Електронна пошта
          a(href="mailto:incuba@ukr.net").footer__item-link incuba@ukr.net
