mixin intro()
  .intro 
    .intro__body.container 
      h2.intro__title Продаж добових курчат бройлерів та несучки, послуги інкубації
      a(href="#form").intro__btn.btn Замовити
      img(src="images/intro-img.png", alt="").intro__img
      p.intro__p Адреса
      p.intro__ad Україна, Черкаська область, Корсунь-Шевченківський район, с. Петрушки, вул. Набережна, 36 