mixin products()
  .products#products 
    .products__body.container 
      h2.products__title Продукція
      p.products__p Добові курчата несучки
      .products__row
        .products__item   
          .products__item-image
            img(src="images/chicken-1.png", alt="").products__item-img
          .products__item-content 
            p.products__item-title НЕСУЧКИ ЛОМАНН БРАУН-КЛАСИК
            p.products__item-p Договірна
            a(href="#!" onclick="openDrop()").products__item-link Подробнее 
        .products__item   
          .products__item-image
            img(src="images/chicken-2.png", alt="").products__item-img
          .products__item-content 
            p.products__item-title НЕСУЧКИ ЛОМАНН БРАУН ЕКСТРА
            p.products__item-p Договірна
            a(href="#!" onclick="openDrop()").products__item-link Подробнее 
        .products__item   
          .products__item-image
            img(src="images/chicken-3.png", alt="").products__item-img
          .products__item-content 
            p.products__item-title НЕСУЧКИ ЛОМАНН ЛСЛ-КЛАСИК
            p.products__item-p Договірна
            a(href="#!" onclick="openDrop()").products__item-link Подробнее 
        .products__item   
          .products__item-image
            img(src="images/chicken-4.png", alt="").products__item-img
          .products__item-content 
            p.products__item-title НЕСУЧКИ ЛОМАНН СЕНДІ
            p.products__item-p Договірна
            a(href="#!" onclick="openDrop()").products__item-link Подробнее 
      p.products__p Добова курчата бройлери
      .products__row
        .products__item   
          .products__item-image
            img(src="images/chicken-5.png", alt="").products__item-img
          .products__item-content 
            p.products__item-title бройлерами кросу ROSS-308
            p.products__item-p Договірна
            a(href="#!" onclick="openDrop()").products__item-link Подробнее 
        .products__item   
          .products__item-image
            img(src="images/chicken-6.png", alt="").products__item-img
          .products__item-content 
            p.products__item-title бройлерами кросу COBB-500
            p.products__item-p Договірна
            a(href="#!" onclick="openDrop()").products__item-link Подробнее 
      a(href="#form").btn.products__btn Замовити 